// Paragraph
.paragraph {
  margin: 0;
  line-height: 1.5;
  text-align: justify;
  color: rgba($colorWhite, 0.6);

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  @include respond-max(sm) {
    & {
      text-align: center;
    }
  }
}
