// // Works
.works {
  &__slide {
    max-width: 20rem;
    height: auto;
    cursor: grab;

    &:first-child {
      margin-left: calc(((100vw - var(--containerMaxWidth)) / 2) + 15px);
    }

    &:last-child {
      margin-right: calc(((100vw - var(--containerMaxWidth)) / 2) + 15px);
    }
  }

  @include respond-max(xs) {
    &__slide {
      max-width: 18rem;

      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}
